body {
  background: #1f2129;
}

@font-face {
  font-family: myFont;
  src: url(./fonts/digital-7.ttf);
}
.header {
  text-align: center;
  margin: 7rem auto;
}
h1 {
  color: #ff4eb6;
  font-size: 3rem;
  font-family: myFont;
}
h3 {
  color: #fafafa;
  font-style: italic;
  font-size: 1.5rem;
}
.clock {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #151618;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #ff4ebe;
  font-size: 60px;
  font-family: myFont;
  letter-spacing: 7px;
  padding: 2rem 4rem;
  border-radius: 20px;
  width: 400px;
  height: 100px;
  border-radius: 38px;
  background: #30323b;
  box-shadow: inset 5px 5px 21px #31222f, inset -5px -5px 21px #4d505e;
}
.icon-closed {
  border: none;
  padding: 8px;
  background-color: #ff4ebe;
  border-radius: 50%;
  cursor: pointer;
  position: fixed;
  bottom: 1rem;
  right: 7rem;
  transition: transform 1s ease-in-out;
  transform: translateX(100%);
}
/* Hide the chat icon when isOpen is true */
.hidden {
  display: none;
}
.icon-closed svg {
  stroke: #000;
  fill: #fff;
  stroke-width: 0;
  height: 2em;
  width: 2em;
}
